{
    "openapi": "3.0.0",
    "info": {
        "title": "API Odazik",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "https://odazik.geocomptoir.fr/api/v1",
            "description": "API Odazik"
        }
    ],
    "components": {
        "schemas": {
            "Category": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "chapter": {
                        "type": "integer"
                    },
                    "pictureName": {
                        "type": "string",
                        "nullable": false
                    },
                    "name": {
                        "type": "string",
                        "nullable": false
                    },
                    "slug": {
                        "type": "string",
                        "nullable": false
                    },
                    "language": {
                        "type": "string",
                        "nullable": false
                    }
                },
                "type": "object"
            },
            "Chapter": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "category": {
                        "type": "integer"
                    },
                    "post": {
                        "type": "integer"
                    },
                    "number": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "language": {
                        "type": "string",
                        "nullable": false
                    }
                },
                "type": "object"
            },
            "Post": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "chapterid": {
                        "type": "integer"
                    },
                    "userid": {
                        "type": "integer"
                    },
                    "title": {
                        "type": "string",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "nullable": false
                    },
                    "tags": {
                        "type": "string",
                        "nullable": false
                    },
                    "contents": {
                        "type": "text"
                    },
                    "slug": {
                        "type": "string",
                        "nullable": true
                    },
                    "number": {
                        "type": "string",
                        "nullable": true
                    },
                    "language": {
                        "type": "string",
                        "nullable": false
                    }
                },
                "type": "object"
            }
        }
    }
}